@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <h2>Guide to use</h2>
    <h1>Hướng dẫn sử dụng</h1>
</head>
<body>
    <h3>
        <p>Giao diện chính làm việc </p>
        <img src="~/Image/Screenshot (139).png" width="1200" /> <br />
        <img src="~/Image/Screenshot (140).png" width="1200" /> <br />
        <p>Để xem các danh mục có thể truy nhập click vào biểu tượng Catergories ở bên trái</p><br />
        <p>Ở đó bạn được phép chọn các mục dưới vai trò admin</p><br />
        <img src="~/Image/Screenshot (141).png" width="1200" /> <br />
        <p>Đây là giao diện khi bạn bấm vào danh mục phòng</p><br />
        <img src="~/Image/Screenshot (142).png" width="1200" /> <br />
        <p>Để tìm kiếm phòng ta sử dụng tiện ích tìm kiếm như hình bên</p><br />
        <img src="~/Image/Screenshot (147).png" width="1200" /> <br />
        <p>Trong đó bạn có thể trực tiếp truy nhập thông tin bằng các chức năng có sẵn</p><br />
        <p>Khi bạn nhấn vào Edit giao diện sẽ hiển thị như sau</p><br />
        <img src="~/Image/Screenshot (148).png" width="1200" /> <br />
        <p>Khi bạn nhấn vào Detail</p><br />
        <img src="~/Image/Screenshot (149).png" width="1200" /> <br />
        <p>Khi bạn nhấn vào Delete</p><br />
        <img src="~/Image/Screenshot (150).png" width="1200" /> <br />
        <p>Và để trở ra bạn nhấn vào Back To List</p><br />
    </h3>
</body>


