@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/lohp.cshtml";
}
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
        <!DOCTYPE html>
        <!--
        Template Name: Miresa
        Author: <a href="https://www.os-templates.com/">OS Templates</a>
        Author URI: https://www.os-templates.com/
        Licence: Free to use under our free template licence terms
        Licence URI: https://www.os-templates.com/template-terms
        -->
        <html lang="">
        <!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
        <head>
            <title>Hotel Management</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
            <link href="~/HomeProperties/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
        </head>
        <body id="top">
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- ################################################################################################ -->
            <!-- Top Background Image Wrapper -->
            <div class="bgded overlay light" style="background-image:url('/HomeProperties/images/grand-lisboa-hotel-and-casino-macau-china-uhd-4k-wallpaper.jpg');">
                <!-- ################################################################################################ -->
                <div class="wrapper row0">
                    <div id="topbar" class="hoc clear">
                        <!-- ################################################################################################ -->
                        <ul class="nospace">
                            <li><a href="https://www.facebook.com/" target="_blank" title="Our FaceBook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/explore" target="_blank" title="Tweet Us"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://mail.google.com/" target="_blank" title="Send a Mail"><i class="fa fa-envelope-o"></i></a></li>
                            <li><a href="https://www.youtube.com/" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="https://www.tumblr.com/" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                        </ul>
                        <!-- ################################################################################################ -->
                    </div>
                </div>
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                <div id="pageintro" class="hoc clear">
                    <!-- ################################################################################################ -->
                    <article>
                        <p>Chào mừng bạn đến với</p>
                        <h3 class="heading">Hotel Management Application</h3>
                        <footer>
                            <ul class="nospace inline pushright">
                                <li><a class="btn" href="~/Home/Guide">Hướng dẫn chung</a></li>
                                <li><a class="btn inverse" href="~/Home/About">Liên hệ </a></li>
                            </ul>
                        </footer>
                    </article>
                    <!-- ################################################################################################ -->
                </div>
                <!-- ################################################################################################ -->
            </div>
                <!-- End Top Background Image Wrapper -->
                <div class="wrapper row2 bgded overlay" style="background-image:url('/HomeProperties/images/wLYDc6.jpg');">
                    <section class="hoc cta clear">
                        <!-- ################################################################################################ -->
                        <div class="sectiontitle">
                            <h6 class="heading">Need more imformation ?</h6>
                            <p>Hãy để lại thông tin bên dưới để chung tôi dễ dàng liên hệ</p>
                        </div>
                        <form method="post" action="#">
                            <fieldset>
                                <legend>Email của bạn:</legend>
                                <input class="btmspace-15" type="text" value="" placeholder="Email của bạn&hellip;">
                                <button type="submit" value="submit">Đi</button>
                            </fieldset>
                        </form>
                        <!-- ################################################################################################ -->
                    </section>
                </div>
                    <!-- ################################################################################################ -->
                    <!-- ################################################################################################ -->
                    <!-- ################################################################################################ -->
                    <div class="wrapper row4">
                        <footer id="footer" class="hoc clear">
                            <!-- ################################################################################################ -->
                            <article class="one_quarter first">
                                <h6 class="heading">Về chúng tôi</h6>
                                <p>Chúng tôi là một nhóm sinh viên đến từ lớp CNTT16A , khi mới gặp mai như thể định mệnh đã khiến chúng tôi chơi với nhau đến tận bây giờ</p>
                                <p>Mong rằng chúng tôi sẽ còn chơi với nhau đến khi Việt Anh cưới vợ thì thôi .&hellip;</p>
                                <p class="nospace"><a href="https://facebook.com/v.a.d.0611" target="_blank">Chúng tôi...</a></p>
                            </article>
                            <div class="one_quarter">
                                <h6 class="heading">Thông tin liên hệ</h6>
                                <ul class="nospace btmspace-30 linklist contact">
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <address>
                                            Hoàng Quốc Việt &amp; 204, Hà Nội, 100000
                                        </address>
                                    </li>
                                    <li><i class="fa fa-phone"></i> +84 123456789</li>
                                    <li><i class="fa fa-envelope-o"></i><a href="https://gmail.com" target="_blank">abbabc2@gmail.com</a></li>
                                </ul>
                            </div>
                            <div class="one_quarter">
                                <h6 class="heading">Các danh mục</h6>
                                <ul class="nospace linklist">
                                    <li><a href="~/KHACHHANGS/Index">Khách hàng</a></li>
                                    <li><a href="~/NHANVIENs/Index">Nhân viên</a></li>
                                    <li><a href="~/DICHVUs/Index">Dịch vụ</a></li>
                                    <li><a href="~/TRANGTHIETBIs/Index">Trang thiết bị</a></li>

                                </ul>
                            </div>
                            <div class="one_quarter">
                                <h6 class="heading">Đặt phòng</h6>
                                <ul class="nospace linklist">
                                    <li><a href="~/PHONGs/Index">Phòng</a></li>
                                    <li><a href="~/THUEPHONGs/Index">Thuê phòng</a></li>
                                    <li><a href="~/THANHTOANs/Index">Thanh toán</a></li>
                                </ul>
                            </div>
                            <!-- ################################################################################################ -->
                        </footer>
                    </div>
                
                <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
                <!-- JAVASCRIPTS -->
                <script src="~/HomeProperties/layout/scripts/jquery.min.js"></script>
                <script src="~/HomeProperties/layout/scripts/jquery.backtotop.js"></script>
                <script src="~/HomeProperties/layout/scripts/jquery.mobilemenu.js"></script>
        </body>
    </html>
