@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hotel Management </h1>
    <p class="lead">This is a free web for manage your employee</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Tìm hiểu &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Phòng</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/PHONGs/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trang thiết bị</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/TRANGTHIETBIs/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Khách hàng</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/KHACHHANGs/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thuê Phòng</h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/THUEPHONGs/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Dịch vụ sử dụng </h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/SDDichVus/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Thanh Toán </h2>
        <p>
            <!--description!-->
        </p>
        <p><a class="btn btn-default" href="~/THANHTOANs/Index">Go &raquo;</a></p>
    </div>
</div>